/* [project]/src/app/globals.css [app-client] (css) */
:root {
  color-scheme: light dark;
  --radius: .5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(.141 .005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(.141 .005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(.141 .005 285.823);
  --primary: oklch(.723 .219 149.579);
  --primary-foreground: oklch(.982 .018 155.826);
  --secondary: oklch(.967 .001 286.375);
  --secondary-foreground: oklch(.21 .006 285.885);
  --muted: oklch(.967 .001 286.375);
  --muted-foreground: oklch(.552 .016 285.938);
  --accent: oklch(.967 .001 286.375);
  --accent-foreground: oklch(.21 .006 285.885);
  --destructive: oklch(.577 .245 27.325);
  --border: oklch(.92 .004 286.32);
  --input: oklch(.92 .004 286.32);
  --ring: oklch(.723 .219 149.579);
  --chart-1: oklch(.646 .222 41.116);
  --chart-2: oklch(.6 .118 184.704);
  --chart-3: oklch(.398 .07 227.392);
  --chart-4: oklch(.828 .189 84.429);
  --chart-5: oklch(.769 .188 70.08);
  --sidebar: oklch(.985 0 0);
  --sidebar-foreground: oklch(.141 .005 285.823);
  --sidebar-primary: oklch(.723 .219 149.579);
  --sidebar-primary-foreground: oklch(.982 .018 155.826);
  --sidebar-accent: oklch(.967 .001 286.375);
  --sidebar-accent-foreground: oklch(.21 .006 285.885);
  --sidebar-border: oklch(.92 .004 286.32);
  --sidebar-ring: oklch(.723 .219 149.579);
}

.dark {
  --background: oklch(.141 .005 285.823);
  --foreground: oklch(.985 0 0);
  --card: oklch(.21 .006 285.885);
  --card-foreground: oklch(.985 0 0);
  --popover: oklch(.21 .006 285.885);
  --popover-foreground: oklch(.985 0 0);
  --primary: oklch(.696 .17 162.48);
  --primary-foreground: oklch(.393 .095 152.535);
  --secondary: oklch(.274 .006 286.033);
  --secondary-foreground: oklch(.985 0 0);
  --muted: oklch(.274 .006 286.033);
  --muted-foreground: oklch(.705 .015 286.067);
  --accent: oklch(.274 .006 286.033);
  --accent-foreground: oklch(.985 0 0);
  --destructive: oklch(.704 .191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(.527 .154 150.069);
  --chart-1: oklch(.488 .243 264.376);
  --chart-2: oklch(.696 .17 162.48);
  --chart-3: oklch(.769 .188 70.08);
  --chart-4: oklch(.627 .265 303.9);
  --chart-5: oklch(.645 .246 16.439);
  --sidebar: oklch(.21 .006 285.885);
  --sidebar-foreground: oklch(.985 0 0);
  --sidebar-primary: oklch(.696 .17 162.48);
  --sidebar-primary-foreground: oklch(.393 .095 152.535);
  --sidebar-accent: oklch(.274 .006 286.033);
  --sidebar-accent-foreground: oklch(.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(.527 .154 150.069);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=src_app_globals_css_f9ee138c._.single.css.map*/